<IfModule mod_rewrite.c>
  RewriteEngine On

  # Serve existing files/folders
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Append .html if the file exists
  RewriteCond %{REQUEST_FILENAME}.html -f
  RewriteRule ^(.*)$ $1.html [L]

  # Handle 404
  RewriteRule ^ /404.html [L]
</IfModule>
